{
  "ConnectionStrings": {
    "Default": "Server=(localdb)\\mssqllocaldb;Database=DocParsing;Trusted_Connection=True;TrustServerCertificate=True",
    "BlobStorage": "DefaultEndpointsProtocol=https;AccountName=docparsingstorage;AccountKey=PASTE_KEY_HERE;EndpointSuffix=core.windows.net"
  },
  "DocumentIntelligence": {
    "Endpoint": "",
    "Key": "PASTE_YOUR_REGENERATED_KEY_1_HERE"
  }
}
