{
  "ConnectionStrings": {
    "Default": "Server=(localdb)\\mssqllocaldb;Database=DocParsing;Trusted_Connection=True;TrustServerCertificate=True"
  },
  "DocumentIntelligence": {
    "Endpoint": "",
    "Key": "PASTE_YOUR_REGENERATED_KEY_1_HERE"
  }
}
